body {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}
.area {
  max-width: 400px;
  margin: 8px 5%;
  padding: 1rem;
}
.input-area {
  background-color: #c1ffff;
  margin-top: 8px;
}
.incomplate-area {
  background-color: #c6ffe2;
}
.conplete-area {
  background-color: #ffffe0;
}
