body {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

.input-erea {
  background-color: #c1ffff;
  width: 90%;
  margin: auto;
}
.incomplate-area {
  background-color: #c6ffe2;
  width: 90%;
  margin: auto;
}
.conplete-area {
  background-color: #ffffe0;
  width: 90%;
  margin: auto;
}
